@import "_variables";
@import "_mixins";

footer {
  background-color: $p-c;
  position: relative;

  .soc-med {
   
    ul {
        
            display: flex;
             position: absolute;
             top: 40%;
             left: 50%;
             transform: translate(-50%, -50%);
             list-style: none;

             li {
                 margin: 1.5rem;

                 a {
                     position: relative;
                     display: block;
                     width: 60px;
                     height: 60px;
                     text-align: center;
                     line-height: 63px;
                     background: #656270;
                     border-radius: 50%;
                     font-size: 30px;
                     color: #fff;
                     transition: 0.5s;

                     &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background: #fff;
                        transition: 0.5s;
                        transform: scale(.9);
                        z-index: -1;
                     }

                     &:hover::after {
                         transform: scale(1.1);
                         box-shadow: 0 0 15px #fff;
                     }

                     &:hover {
                        color: #fff;
                        box-shadow: 0 0 5px #fff;
                        text-shadow: 0 0 5px #fff;
                     }
                 }
             }
           
           
    }
  }



  p {
    text-align: center;
    color: #fff;
    padding: 10rem;
    padding-bottom: 2rem;
    font-size: 1.7rem;
  }
}
