
  @media (min-width: 1500px) {
    #work {

      
      .wrapper {
        .card {
          margin: 1rem 0;
          width: 40rem;
          height: 60rem;

          img {
            width: 300px;
            height: 200px;
           
            
          }
        }
      }
    }
  }


@media (min-width: 1000px) and (max-width: 1499px) {

    #work {
        .wrapper {
          .card {
            margin: 1rem 0;
            width: 40rem;
            height: 60rem;
  
            img {
              width: 300px;
              height: 200px;
              
            }
          }
        }
      }
    
}

@media (min-width: 790px) and (max-width: 999px) {

    #work {
        .wrapper {
          .card {
            margin: 1rem 0;
            width: 40rem;
            height: 60rem;
  
            img {
              width: 300px;
              height: 200px;
             
            }
          }
        }
      }
}

@media (min-width: 500px) and (max-width: 789px) {

    #work {
        .wrapper {
          .card {
            margin: 1rem 0;
            width: 40rem;
            height: 60rem;
  
            img {
              width: 300px;
              height: 200px;
             
            }
          }
        }
      }
}

@media (min-width: 250px) and (max-width: 499px) {
    #work {
        .wrapper {
          .card {
            margin: 0 5rem;
            width: 25rem;
            height: 60rem;
           
  
            img {
              width: 200px;
              height: 200px;
              
            }
          }
        }
      }

}