@mixin anchor() {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin heading2() {
  font-size: 4rem;
  text-align: center;
  margin-top: 15rem;
  color: $p-c;
  text-transform: uppercase;
  font-family: "Kalam", cursive;
}

@mixin btn-base() {
  text-transform: uppercase;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  display: block;
  width: 45%;
  border: none;
  cursor: pointer;
  color: $h-c;
}
